body {
  overflow-x: hidden;
}

/**** detail section ****/
.detail-section {
  height: 550px;
}

.section-img {
  .des-img {
    height: 100%;
    width: 100%;
  }

  .customer-img {
    height: 103%;
  }
}

.section-title {
  font-family: $roboto_light;
  color: #444444;

  span {
    font-size: 41px;
    padding: 0 20px;
  }
}

.title-icon {
  font-size: 31px;
}

.section-description {
  .description-text,
  .section-intro-text {
    color: #283238;
    font-family: $roboto_regular;
  }
}

.section-intro-text {
  font-size: 14px;
  font-style: italic;
  font-family: $roboto_regular;
}

.description-text {
  font-size: 13px;
  line-height: 20px;
}

.content-text {
  p {
    color: #283238;
    font-family: $roboto_regular;
    font-size: 13px;
    line-height: 24px;
    width: 95%;
  }
}

.content-icon {
  color: $booger_color;
  width: 30px;
}

.members-section-img {
  height: 100%;
  width: 100%;
}

.til-section {
  box-shadow: 0 10pt 10pt 0 rgba(0, 0, 0, 0.1);
}

.customers-section {
  box-shadow: 0pt 0pt 10pt 10pt rgba(0, 0, 0, 0.1);
}

.customer-section-des {
  .section-intro-text {
    margin: 10px 0 15px 0;
  }
}

/**** function row ****/
.function-section {
  background: $startButton_color;
  height: 260px;
}

.function-row {
  .function-object {
    width: auto;
    height: auto;
  }
}

.main-circle {
  color: white;
  border: 2px solid white;
  font-size: 36px;
  padding: 33px;
}

.index-circle {
  width: 43px;
  height: 43px;
  color: white;
  border: 2px solid white;
  z-index: 1;
  margin-top: -23px;
  background-color: $index_bg_color;
  font-family: $roboto_regular;
  font-size: 24px;
}

.function-name {
  line-height: 16px;
  letter-spacing: 1.33px;

  span {
    color: white;
    font-family: $roboto_regular;
    text-transform: uppercase;
    white-space: pre-line;
    font-size: 15px;
  }
}

.customer-row-pagination {
  width: 5%;
  height: 5%;

  span {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    display: inline-block;
  }
}

.page-circle-light {
  background-color: rgb(216, 216, 216);
}

/**** customer list ****/
.customer-list-section {
  background: url("../assets/images/rectangle3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 544px;
}

.customer-list-title {
  font-family: $roboto_light;
  font-size: 40px;
  color: white;
  height: 90px;
}

.avatar-row {
  .customer-object {
    width: auto;
    height: auto;
  }
}

.customer-avatar {
  height: 79px;
  width: 79px;
}

.customer-4 {
  height: 99px;
  width: 99px;
}

.customer-info {
  color: white;
  font-family: $roboto_regular;
  height: 60px;
}

.customer-name {
  font-size: 13px;
}

.customer-role {
  font-size: 11px;
}

.ti-quote-left,
.ti-quote-right {
  color: white;
  opacity: 40%;
  font-size: 72px;
  width: 85px;
}

.customer-row-quote {
  height: 35%;

  span {
    width: 750px;
    color: white;
    font-family: $roboto_light;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.03px;
  }
}

@media only screen and (max-width: 1600px) {
  .section-intro-text {
    font-size: 12px;
  }
  
  .description-text {
    font-size: 11px;
    line-height: 20px;
  }
  
  .content-text {
    p {
      font-size: 11px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 768px) {
  /**** detail section ****/
  .detail-section {
    height: 526px;
  }

  .section-img {
    .des-img {
      height: auto;
      width: 100%;
    }
  }

  .title-container {
    height: 30%;
  }

  .button-container {
    height: 20%;
  }

  .description-text {
    font-size: 13px;
    line-height: 21px;
  }

  .section-intro-text {
    margin-top: 10px;
  }

  .members-section-img {
    height: 270px;
    width: 353px;
  }

  .content-text {
    p {
      width: 95%;
      line-height: 21px;
    }
  }

  .customers-section {
    box-shadow: 0pt 0pt 3pt 3pt rgba(0, 0, 0, 0.05);
  }

  /**** customer list ****/
  .customer-list-section {
    height: 544px;
  }

  .ti-quote-left,
  .ti-quote-right {
    width: 70px;
  }

  .customer-row-pagination {
    width: 10%;

    span {
      width: 10px;
      height: 10px;
    }
  }

  .customer-row-quote {
    height: 43%;

    span {
      width: 600px;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 426px) {
  /**** detail section ****/
  .detail-section {
    height: 650px;
  }

  .title-container {
    height: 70px;
  }

  .title-icon {
    font-size: 19px;
  }

  .section-title {
    span {
      font-size: 23px;
      padding: 0 5px;
    }
  }

  .section-img {
    width: 100%;
    padding-bottom: 10px;

    .des-img {
      height: auto;
      width: 100%;
    }
  }

  .section-description {
    width: 100%;
    line-height: 21px;
    padding-bottom: 10px;
  }

  .section-intro-text {
    margin-top: 5px;
    font-size: 11px;
  }

  .description-text {
    font-size: 12px;
  }

  .button-container {
    height: auto;
  }

  .members-section {
    height: 730px;
  }

  .members-section-img {
    height: auto;
    width: 100%;
    padding-bottom: 10px;
  }

  .content-text {
    p {
      width: 96%;
    }
  }

  /**** function row ****/
  .function-section {
    height: 296px;
  }

  .function-name {
    line-height: 15px;
  }

  .main-circle {
    font-size: 36px;
    padding: 35px;
  }

  .index-circle {
    width: 45px;
    height: 45px;
    margin-top: -19px;
    font-size: 23px;
  }

  /**** customer list ****/
  .customer-list-title {
    font-size: 30px;
    height: 70px;
  }

  .ti-quote-left,
  .ti-quote-right {
    height: 100px;
    font-size: 50px;
    width: auto;
  }

  .customer-row-pagination {
    height: 50px;
    width: 55px;
  }

  .customer-row-quote {
    height: 44%;

    span {
      width: 100%;
      font-size: 13px;
      line-height: 25px;
      letter-spacing: -0.03px;
    }
  }
}
