@import 'variables';

header {
  background-image: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: top;
  height: 670px;
}

.header-container {

  div {
    margin: 0 5px;
  }
}

.nav {
  margin-top: 2%;
}

.top-navbar {
  height: 25%;
}

.header-content {
  height: 50%;
}

.about-button {
  @include navbar-font;

  color: black;
  margin-right: 15px;
}

.sign-in-button {
  @include navbar-font;

  color: $booger-color;
  border: 2pt solid $booger-color;
  border-radius: 100pt;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: $booger-color;
    color: white;
  }
}

.page-logo {

  img {
    width: auto;
    height: 50px;
  }
}
  
.header-icon-container {

  .icon-box {
    width: 250px;
    line-height: 45px;
    font-size: 38px;
    color: black;
  }
} 

.icon-name {
  color: black;
  font-size: 30px;
  font-family: $roboto_light;
}

.icon-container {
  i {
    .ti-gift {
      filter:blur(0.5pt);
    }
  }
}

.intro-sentence {
  height: 20%;
  font-size: 15px;
  font-family: $roboto_regular; 
}

.start-button {
  background: $startButton-color;;
  box-shadow: $startButton-shadow;
  padding: 10px 40px;
  border-radius: 100pt;
  color: white;
  font-family: $roboto_regular;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) { 
  header {
    background-image: url("../assets/images/rectangle@2x.png");
    height: 425px;
  }

  .top-navbar {
    height: 18%;
  }
  
  .header-content {
    height: 66%;
  }
  
  .page-logo img {
    height: 30px;
  }

  .icon-box {
      line-height: 33px;
      font-size: 27px;
      width: 140px;
  }
  
  .icon-name {
    font-size: 24px;
  }
  
  .intro-sentence {
    font-size: 14px;
  }
  
  .start-button {
    padding: 13px 29px;
  }
}

@media screen and (max-width: 576px) { 

  header {
    background-image: url("../assets/images/rectangle@2x.png");
    height: 266px;
  }

  .page-logo img {
    height: 22px;
  }

  .about-button {
    font-family: $roboto_medium;
  }

  .top-navbar {
    height: 20%;
  }

  .header-content {
    height: 60%;
  }

  .nav {
    margin-top: 2%;
  }

  .icon-box {
      line-height: 27px;
      font-size: 20px;
      padding: 0 10px;
      width: 100px;
  }

  
  .icon-name {
    font-size: 18px;
  }
  
  .intro-sentence {
    font-size: 9px;
  }
  
  .start-button {
    padding: 10px 27px;
    margin-top: 20px;
  }
}
