$roboto_regular: 'Roboto-Regular', arial;
$roboto_light: 'Roboto Light', Arial;
$roboto_medium: 'Roboto Medium', arial;


header {
  background-image: url("../assets/images/rectangle@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56%;
}

.header-container {
  margin-top: -55%;

  div {
    margin:0px 5px;
  }
}

.nav {
  margin-top: 2%;
}

@mixin navbar-font {
  font-family: $roboto_regular;
  font-size: 11px;
}

.about-button {
  @include navbar-font;
  color: black;
  margin-right: 15px;
}

.sign-in-button {

  @include navbar-font;

  color: #8bc34a;
  border: 2pt solid #8bc34a;
  border-radius: 100pt;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: #8bc34a;
    color: white;
  }
}

.page-logo {

  img {
    height: auto;
    width: 21%;
    margin-top: 15%;
  }
}
  
.header-icon-container {
  .icon-box {
    text-align: center;
    line-height: 45px;
    font-size: 40px;
    margin-top: 4%;
    color: #000;
  }
} 

.icon-name {
  text-align: center;
  color: black;
  font-size: 32px;
  font-family: $roboto_light;
}

.icon-container {
  i {
    .ti-gift {
      filter:blur(0.5pt);
    }
  }
}

.intro-sentence {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  font-family: $roboto_regular;

  p {
    margin-top: 4%;
  }  
}

.start-button {
  background: linear-gradient(90deg,#429321, #b4ec51);
  box-shadow: 0 2pt 2pt 0 rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  border-radius: 100pt;
  color: white;
  text-align: center;
  font-family: $roboto_regular;
  font-size: 14px;
  width: 170px;
  letter-spacing: 1px;
  margin-top: 1%;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) { 
  .page-logo img {
    margin-top: 5%;
  }

  .header-icon-container {
    
    div {
      line-height: 33px;
      font-size: 28px;
      margin-top: 5%;
    }
  }
  
  .icon-name {
    font-size: 25px;
  }
  
  .intro-sentence {
    font-size: 15px;
  }
  
  .start-button {
    padding: 14px 0px;
    margin-top: 2%;
    width: 155px;
  }
}

@media screen and (max-width: 576px) { 

  .about-button {
    font-family: $roboto_medium;
  }

  .nav {
    margin-top: 2%;
  }

  .page-logo {
    
    img {
      margin-top: 3%;
    }
  }
  

  .header-icon-container {
    .icon-box {
      line-height: 27px;
      font-size: 20px;
      margin-top: 3.5%;
      padding: 0px 10px;
    }
  }

  
  .icon-name {
    font-size: 18px;
  }
  
  .intro-sentence {
    font-size: 9px;

    p {
      margin-top: 3%;
    }
  }
  
  .start-button {
    padding: 12px 0px;
    width: 155px;
    margin-top: -0.5%;
  }
}