header {
  background-image: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-position: top;
  height: 670px;
  overflow-x: hidden;
}

.nav {
  margin-top: 2%;
}

.top-navbar {
  height: 25%;
}

.header-content {
  height: 50%;
}

.about-button {
  @include navbar-font;

  color: black;
  margin-right: 15px;
}

.sign-in-button {
  @include navbar-font;

  color: $booger_color;
  border: 2pt solid $booger_color;
  border-radius: 100pt;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: $booger_color;
    color: white;
  }
}

.page-logo {
  img {
    width: auto;
    height: 50px;
  }
}

.header-icon-container {
  height: 50%;

  .icon-box {
    width: 250px;
    line-height: 45px;
    font-size: 38px;
    color: black;
  }
}

.icon-name {
  color: black;
  font-size: 30px;
  font-family: $roboto_light;
}

.icon-container {
  i {
    .ti-gift {
      filter: blur(0.5pt);
    }
  }
}

.intro-sentence {
  height: 50%;
  font-size: 15px;
  font-family: $roboto_regular;
}

.start-button {
  background: $startButton_color;
  box-shadow: $startButton_shadow;
  padding: 10px 40px;
  border-radius: 100pt;
  color: white;
  font-family: $roboto_regular;
  font-size: 14px;
  letter-spacing: 1px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-image: url("../assets/images/rectangle@2x.png");
    height: 425px;
  }

  .top-navbar {
    height: 20%;
  }

  .header-content {
    height: 60%;
  }

  .header-container {
    width: 100%;
    padding: 0 15px;
  }

  .page-logo {
    img {
      height: 30px;
    }
  }

  .header-icon-container {
    .icon-box {
      width: 170px;
      line-height: 33px;

      i {
        font-size: 26px;
      }
    }
  }

  .icon-name {
    font-size: 24px;
  }

  .intro-sentence {
    font-size: 14px;
  }

  .start-button {
    padding: 13px 29px;
  }
}

@media only screen and (max-width: 426px) {
  header {
    background-image: url("../assets/images/rectangle@2x.png");
    height: 266px;
  }

  .page-logo {
    img {
      height: 21px;
    }
  }

  .about-button {
    font-family: $roboto_medium;
  }

  .top-navbar {
    height: 20%;
  }

  .header-content {
    height: 70%;
  }

  .page-logo {
    height: 23%;
  }

  .nav {
    margin-top: 2%;
  }

  .icon-name {
    font-size: 19px;
  }

  .icon-text-container {
    height: 40%;
  }

  .header-icon-container {
    .icon-box {
      width: 120px;
      line-height: 17px;
      padding: 0 10px;

      i {
        font-size: 20px;
      }
    }
  }

  .intro-sentence {
    font-size: 9px;
  }

  .start-button {
    padding: 10px 27px;
  }
}
