$roboto_regular: 'Roboto-Regular', arial;
$roboto_light: 'Roboto Light', Arial;
$roboto_medium: 'Roboto Medium', arial;
$booger-color: #8bc34a;
$startButton-color: linear-gradient(90deg,#429321, #b4ec51);
$startButton-shadow: 0 2pt 2pt 0 rgba(0, 0, 0, 0.5);

@mixin navbar-font {
    font-family: $roboto_regular;
    font-size: 11px;
}