$roboto_regular: 'Roboto Regular', arial;
$roboto_light: 'Roboto Light', arial;
$roboto_medium: 'Roboto Medium', arial;
$booger_color: #8bc34a;

/**** header ****/
$startButton_color: linear-gradient(90deg,#429321, #b4ec51);
$startButton_shadow: 0 2pt 2pt 0 rgba(0, 0, 0, 0.5);

@mixin navbar-font {
  font-family: $roboto_regular;
  font-size: 11px;
}

/**** function row ****/
$index_bg_color: rgb(124, 179, 66);

/**** footer ****/
$footer_color: rgb(57, 71, 78);
$silver_color: #d0d8dc;
