/********************************************/
/**** header****/
/********************************************/

header {
  background: url("./assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

ul {
  list-style-type: none;

}

.top-navbar li {
  float: right;
}

.top-navbar ul {
  /* padding-right: 250px; */
  padding-top: 40px;
  margin-top: 0px;
  width: 930px;
}

.about-button,
.sign-in-button {
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  padding: 3px 20px;
  font-family: 'Roboto Regular', arial;
  font-size: 11px;
}

.about-button {
  color: black;
  margin-right: 15px;
}

.sign-in-button {
  color: #8bc34a;
  border: 2pt solid #8bc34a;
  border-radius: 100pt;
  padding-top: 10px;
  padding-bottom: 10px ;
}

.sign-in-button:hover, 
.sign-in-button:active {
  background-color: #8bc34a;
  color: white;
}

.header-content {
  text-align: center;
}

.header-content img {
  margin-top: 140px;
  height: 16%;
  width: 16%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.header-icon-container > div {
  width: 260px;
  text-align: center;
  line-height: 45px;
  font-size: 43px;
  margin-top: 10px;
}

.icon-container {
  width: 500px; 
  padding: .7em 0;
  position: relative;
  text-align: center;
}

.icon-container [class^="ti-"], 
.icon-container [class*=" ti-"] {
  color: #000;
}

.icon-name {
  text-align: center;
  color: black;
  font-size: 32px;
  font-family: 'Roboto Light', Arial;
}

.icon-container i.ti-gift {
  filter:blur(0.5pt);
}

.intro-sentence {
  font-style: italic;
  font-size: 14px;
  font-family: 'Roboto Regular', arial;;
}

.start-button {
  background: linear-gradient(90deg,#429321, #b4ec51);
  box-shadow: 0 2pt 2pt 0 rgba(0, 0, 0, 0.5);
  padding: 12px 35px;
  border-radius: 100pt;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto Regular', Arial;
  font-size: 15px;
  width: 100px;
  margin-top: 20px;
}

/********************************************/
/**** function row ****/
/********************************************/
.function-row {
  background: linear-gradient(90deg,#429321, #b4ec51);
  height: 260px;
}

.function-object {
  height: 160px;
  width: 230px;
  text-align: center;
}

.main-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color:white;
  border: 1px solid white;
  border-width: 2px;
  font-size: 30px;
  padding: 33px;
  margin-left: auto;
  margin-right: auto;
}

.index-circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  color:white;
  border: 1px solid white;
  border-width: 2px;
  padding: 4px;
  z-index: 1;
  margin-top: -22px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(124, 179, 66);
  font-family: 'Roboto-Regular', Arial;
  font-size: 20px;
}

.function-name {
  text-align: center;
  margin-top: -10px;
}

.function-name span {
  color: white;
  font-family: 'Roboto-Regular', Arial;
  width: 200px;
  text-transform: uppercase;
  white-space: pre-line;
  font-size: 13px;
}

/********************************************/
/**** customer list ****/
/********************************************/
.customer-list {
  background: url("./assets/images/rectangle3.png");
  background-repeat:no-repeat;
  background-size: cover;
  height: 460px;
}

.customer-list-title {
  font-family: 'Roboto Light', Arial;
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 40px;
}

.avatar-row {
  margin-top: 35px;
}

.avatar-row div {
  text-align: center;
  width: 130px;
}

.customer-avatar {
  height: 65px;
  width: 65px;
}

.customer-4 {
  height: 85px;
  width: 85px;
}

.customer-info {
  text-align: center;
  color: white;
  font-family: 'Roboto-Regular', Arial;
}

.customer-name {
  font-size:11px;
}

.customer-role {
  font-size: 9px;
  margin-top: -10px;
}

.customer-row-pagination {
  text-align: center;
  margin-top: 5px;
}

.customer-row-pagination span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  margin: 0px 7px; 
}

.page-circle-light {
  background-color: rgb(216, 216, 216);
}

.ti-quote-left,
.ti-quote-right {
  color: white;
  opacity: 40%;
  font-size: 400%;
}

.ti-quote-right {
  margin-top: 100px;
  margin-left: 20px;
}

.ti-quote-left {
  margin-top: -100px;
  margin-right: 20px; 
}

.customer-row-quote {
  margin-top: -10px;
}

.customer-row-quote p {
  text-align: justify;
  width: 620px;
  color: white;
  font-family: 'Roboto Light', arial;
  font-size: 15px;
}

/********************************************/
/**** details section ****/
/********************************************/

.detail-section {
  height: 500px;
}

.detail-section div {
  width: 500px;
}

.section-description {
  height: 315.35px
}

.des-img {
  height: 315.35px;
  width: 471.75px;
}

.section-title {
  font-family: 'Roboto Light', Arial;
  color: rgb(68, 68, 68);
  font-size: 41px;
  margin-top: -4px;
}

.title-icon {
  font-size: 28px;
}

.section-description p { 
  color: rgb(40, 50, 56);
  font-family: 'Roboto Regular', Arial;
  text-align: justify;

}

.section-intro-text {
  font-size: 13px;
  font-style: italic;
}

.description-text {
  font-size: 12px;
  margin-top: 25px;
  width: 485px;
  line-height: 22px;
}

.section-button {
  margin-top: 10px;
}

.content-container {
  display: flex;
}

.content-text p {
  color: rgb(40, 50, 56);
  font-family: 'Roboto Regular', Arial;
  text-align: justify;
  font-size: 12px;
  line-height: 19px;
  width: 450px;
}

div.content-icon {
  color: #8bc34a;
  width: 30px;
  overflow: auto;
  margin-top: 15px;
}

.report-section-img,
.project-section-img {
  padding-left: 30px;
}

.members-section-title,
.customers-section-title {
  margin-top: -20px;
}

.members-section-img {
  height: 85%;
  width: 85%;
  margin-left: 20px;
}

.til-section {
  box-shadow: 0 10pt 10pt 0 rgba(0, 0, 0, 0.1);
}

.customers-section {
  box-shadow: 0pt 0pt 10pt 10pt rgba(0, 0, 0, 0.1);
}

/********************************************/
/**** footer ****/
/********************************************/

footer {
  background: rgb(57, 71, 78);
  background-repeat: no-repeat;
  background-size: cover;
  height: 190px;
  box-shadow: 0 15pt 15pt 0 rgba(0, 0, 0, 0.1);
  padding-left: -10px;
}


.footer-container div {
  font-family: 'Roboto Medium', Arial;
  width: 170px;
}

.footer-logo-image {
  vertical-align: baseline;
  height: 60%;
  width: 60%;
  margin-bottom: 30px;
}

.copyright-text {
  color: #d0d8dc;
  font-size: 10px;
}


.footer-menu-title {
  text-transform: uppercase;
  color: #8bc34a;
  font-size: 13px;
}

.footer-menu-list {
  margin-top: 20px;
}

.footer-link {
  margin-top: 5px;
  margin-bottom: 5px;
}


.footer-link a {
  color: #d0d8dc;
  text-decoration: none;
  font-size: 10px;
}

.footer-SNS-icon {
  margin-top: 55px;
  color: #8bc34a;
}

.footer-SNS-icon i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 90%;
}
